* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

.google-btn {
    color: white;
    background: #4285F4;
    border-radius: 5px 0px 0px 5px;
    style: none;
    width: 30em;
    height: 4em;
    font-size: 1.1em;
}

.google-button{
  width: 26em;
  height: 3em;
  style: none;
  background-color: #4285F4;
  border: 0;
  color: white;
  font-size: 1em;
}

.google-button:active{
  width: 26em;
  height: 3em;
  style: none;
  background-color: white;
  border: 0;
  color: #4285F4;
  font-size: 1em;
}