.color {
    display: inline-block;
    width: 3em;
    height: 3em;
    margin-right: 1.2em;
    border: 1px solid black;
    margin-bottom: 2em;
    margin-left: -0.02em;
  }

  .color:hover{
    border: 0.5em solid white;
  }

  .colorpicker{
    /* width: 1em;
    height: 1em; */
  }
  