@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Press+Start+2P&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

.lp-bkg{
     background: #2E132C;
     min-height: 100%;
     min-width: 600px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  display: flex ;
  flex-direction: column;
  align-items: center;
}

.lp-div{
    padding-top: 5em;
    
}

.lp-tlt{
    font-family: "Press Start 2P", cursive;
    color: white;
    padding-top: 2em;
}

.lp-tltl{
    font-family: "Fira Code", sans-serif;
    width: 25em;
    color: white;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.logo{
    background: #2E132C;
    width: 25em;
    height: 20em;
}

.auth-google{
    padding: 50em;
    display: flex;
    width: 5em;
}

@media only screen and (min-width: 900px) {

    .lp-bkg{
        background: #2E132C;
        min-height: 100%;
        min-width: 600px;
       
     /* Set up proportionate scaling */
     width: 100%;
     height: auto;
       
     /* Set up positioning */
     position: fixed;
     top: 0;
     left: 0;
     display: flex ;
     justify-content: space-evenly;
     flex-direction: row;
     align-items: center;

    }

    .lp-div{
        padding-bottom:9em;
        
    }

}


