@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Press+Start+2P&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

 

  .NewTweet-container{
    width: 100vw;
    height: 10em;
    background: #150714;
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    justify-content: center;
    padding-left: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  .NewTweet-photo{
    width: 2em;
    height: 2em;
    clip-path: circle(50% at 50% 50%); 
  }

  .NewTweet-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 1em;
  }

  .NewTweet-txtarea{
    width: 15em;
    height: 5em;
    padding: .2em;
    background: #2F112D;
    style: none;
    font-family: "Fira Code", sans-serif;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; /*remove the resize handle on the bottom right*/
    color: white;
    font-size: .9em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto; 
}

.NewTweet-button{
  align-items: left;
  margin-top: 5em;
  margin-left: 30em;
  font-family: "Press Start 2P", cursive;
  text-transform: uppercase;
  font-size: 0.3em;
  color: #150714;
  padding: 2em;
  background-color: #800FFF;

  ;
  border: none;   
}