@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Press+Start+2P&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

.np-bkg{
     background: #2E132C;
     min-height: 100%;
     min-width: 600px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  display: flex ;
  flex-direction: column;
  align-items: center;
}

/* .np-div{
    display: flex;
    justify-content: flex-start;
} */



.np-tlt{
    font-family: "Press Start 2P", cursive;
    text-transform: uppercase;
    color: white;
    padding: 2em;
}

.np-tlt-user{
    font-family: "Press Start 2P", cursive;
    text-transform: uppercase;
    font-size: 22px;
    color: red;
}

.np-tltl{
    font-family: "Fira Code", sans-serif;
    color: white;
    padding: 2em;
}

.np-tlt-color{
    font-family: "Fira Code", sans-serif;
    color: white;
    padding: 2em;    
}

.np-btn{
    margin: 50;
    font-family: "Press Start 2P", cursive;
    background: #00DA76;
    width: 25em;
    -webkit-appearance: none;
    appearance: none;
}

.np-txtarea{
    padding: 2em;
    background: #150714;
    style: none;
    -webkit-appearance: none;
}

