@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Press+Start+2P&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

.np-bkg{
     background: #2E132C;
     min-height: 100%;
     min-width: 600px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  display: flex ;
  flex-direction: column;
  align-items: center;
}

.logo{
    background: #2E132C;
    width: 25em;
    height: 20em;
}

.np-btn {
    color: white;
    background: #4285F4;
    border-radius: 5px 0px 0px 5px;
    style: none;
    width: 376px;
    height: 58px;
    font-size: 18px;
}

.np-tlt{
    font-family: "Press Start 2P", cursive;
    text-transform: uppercase;
    font-size: 22px;
    color: white;
    margin-left: -2em;
    
}

.np-tlt-user{
    font-family: "Press Start 2P", cursive;
    font-size: 22px;
    color: red;
    margin-top: -1.5em;
    padding-bottom: 2em;
}

.np-div{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
}

.np-tltl{
    font-family: "Fira Code", sans-serif;
    color: white;
    padding-bottom: 2em;
}

.np-tlt-color{
    font-family: "Fira Code", sans-serif;
    color: white; 
    padding-bottom: 2em; 
    margin-left: -2em;
}

.logo{
    background: red;
    width: 30em;
    height: 20em;
}

.np-btn{
    margin: 50;
    appearance: none;
    -webkit-appearance: none;
}

.np-txtarea{
    width: 28em;
    height: 10em;
    padding: 1em;
    background: #150714;
    style: none;
    font-family: "Fira Code", sans-serif;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; /*remove the resize handle on the bottom right*/
    color: white;
    font-size: 1em;
}

