@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Press+Start+2P&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

.UserPage{
    width:100vw;
    height:15em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background: #150714;
    padding-bottom: 2em;
}


.UserPage-top{
    display: flex;
    width: 45%;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1em;
    margin-left: 2em;

}

.UserPage-user{
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
}

.UserPage-user-photo{
    width: 7em;
    height: 7em;
    clip-path: circle(48% at 50% 50%);
 
}

.UserPage-photo{
    width: 6em;
    height: 6em;
    clip-path: circle(50% at 50% 50%);
    margin-top: .5em;
    margin-left: .5em;
} 

.UserPage-nick{
    font-family: "Press Start 2P", cursive;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #150714;
    margin-top: 1em;
    padding: .5em;
    border-radius: .1em;
}

.UserPage-logout{
    font-family: "Press Start 2P", cursive;
    text-transform: uppercase;
    font-size: 0.2em;
    color: white;
    padding: 2em;
    background-color: #F50D5A;
    border: none;
    border-radius: .5em;
    text-decoration: none;
}

.UserPage-back{
    font-family: "Press Start 2P", cursive;
    text-transform: uppercase;
    font-size: 0.2em;
    color: white;
    margin: 0em;
    padding-right:6em;
    background: none;
    border: none;
    text-decoration: none;
}